prefer-no-csd
spawn-at-startup "mpvpaper" "-o" "no-audio loop" "*" "/home/zynth/Downloads/night-city-pixel-moewalls-com.mp4"
hotkey-overlay {
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
}
include "layout.kdl"
include "decoration.kdl"
include "overview-wallpaper.kdl"
include "window-rule.kdl"
include "input.kdl"
include "dms/binds.kdl"
include "dms/cursor.kdl"
include "dms/outputs.kdl"
include "dms/colors.kdl"