window-rule {
    match app-id="com.gabm.satty"
    open-floating true
}

window-rule {
    match app-id="kitty"
    default-column-width {}
}

window-rule {
    match app-id="floorp" title="^Picture-in-Picture$"
    open-floating true
}
